body{
    margin: 0 0 0 0;
}
h1
{
    width: 20rem;
    font-size: 6rem;
    font-family: 'Sacramento', cursive;
    color: #8b5e83;
}
h4
{
    width: 80%;
    margin: 0 auto 0 auto;
    font-size: 2.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #595b83;   
    text-align: center;
}
.mou
{
    width: 100%;
    
}
.btn
{
     background-color: #4CAF50;
     margin-bottom: 10px;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 2%;
      
}
.birds
{
    position: absolute;
    height: 5rem;
    width: 5rem;

}
p
{
    font-family: sans-serif;
    font-size: 20px;
}
.sweb
{
    font-family: monospace;
    font-size: 30px;
    color: #cd5d7d
}
.social
{
   position: relative;
   margin: 10px 10px 10px auto;
}
.hlo
{ 
    font-family: monospace;
    font-size: 50px;
    color: #583d72; 
}
.hlo2
{
    font-family: monospace;
    font-size: 50px;
    color: #583d72;  
}
.mypic
{
    height: 100px;
    width: 100px;
    text-align: left;
}
.simg
{
    height: 150px;
    width: 150px;  
    left: 100px;
}
.top-cloud
{
    position: relative;
    margin-top:0;
    margin-left: 70%;
    float: left;
    
}
.bottom-cloud
{
    margin-left: 10rem;
    margin-top: 0;
    

}
.third-cloud
{
    float: right;

    
}
.top-container{
    background-color: #d0e8f2;
    position: relative;
    padding: 50px;
}
.middle-container
{
    background-color: #d0e8f2;
    position: relative;
    padding: 50px;  
    text-align: center;
}
